@import "tailwindcss";
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: left;
  width: 100vw;
  
  
  
}



.border{
  border: solid;
  border-color: #ffffff;
  border-width: 1px;
  
  border-radius: 7px;
  
  padding: 5px;
  width: 44%;
  background-color: #313131;
  margin: 5px;
  
  padding-bottom: 30px;

  display: inline;
  
}

.border.About{
  float: left;
  margin-left: 45px;
  padding-left: 20px;
  padding-right: 20px;
  
  text-align: justify;
  
}
.border.Contact{
  float: right;
  margin-right: 45px;
  
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
