@import "tailwindcss";
:root {
  font-family: "Century Gothic", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #343535;
  background-color: #FAF9F6;
  /*background*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}



a {
  font-weight: 500;
  color: #FAF9F6;
  text-decoration: inherit;
}


body {
  margin: 0;
  display:flex;
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
  
  }

header {
  margin-bottom: 40px;
  text-align: center;
  
  width: 100vw;
  padding: 20px 0;
  margin-left: calc(-50vw + 50%);
}




button {
  border-radius: 8px;
  border: 1px solid;
  border-color:#525558 ;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #34495e;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #769fcd;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
